$color-light: white;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  pointer-events: none;
  display: none;
  padding: 1em;
  background: red;

  &.show {
    display: block;
    pointer-events: auto;
  }

  // BEM notation (Block Element Modifier)

  &__closeBtn {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: red;
  }
}

.popup {
  display: none;

  &.show {
    display: block;
  }
}

.splashscreen {
  width: 100%;
  height: 100%;
  background: $color-light;
  position: absolute;
  z-index: 20000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hide {
  display: none;
}